ul {
    list-style: none;
    padding: 0;
}

p {
    color: #444;
}

button:focus {
    outline: 0;
}

button{
    margin: 4px 2px;
	background-color: #4285f4;
	font-family: 'Futura', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 50px;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

.page-description {
    font-size: 1.1rem;
    margin: 0 auto;
}

.tz-link {
    font-size: 1em;
    color: #1da7da;
    text-decoration: none;
}

.no-browser-support {
    display: none;
    font-size: 1.2rem;
    color: #e64427;
    margin-top: 35px;
}

.app {
    margin: 40px auto;
    width: 400px;
    float: left;
}

#recording-instructions {
    margin: 15px auto 60px;
}

#notes {
    padding-top: 20px;
}

.note .header {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 10px;
}

.note .delete-note,
.note .listen-note {
    text-decoration: none;
    margin-left: 15px;
}

.note .content {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .container {
        padding: 50px 25px;
    }

    button {
        margin-bottom: 10px;
    }

}   

#avatar
{
    float: right;
}

.app{
	padding-top: 50px;
}

/* -- Demo ads -- */

@media (max-width: 1200px) {
    #bsaHolder{ display:none;}
}

#response
{
    padding: 50px;
    clear: both;
    width: 80%;
    margin: 0 auto;
}

#responseButton
{
    display: none;
    margin: auto;
}

#responseSpan
{
    display: none;
    margin: auto;
}

#loginButton
{
    width: 40%;
    margin: auto;
}

#title{
	font-family: 'Futura', sans-serif;
	font-size: 40px;
}

#lista_comandi{
    margin-left: 10%;
}

.whiteColor
{
    color: white;
}

.bold
{
    font-weight: 500;
}

#scelta_calendario{
    margin-right: 10%;
}