ul {
    list-style: none;
    padding: 0;
}

p {
    color: #444;
}

button:focus {
    outline: 0;
}

button{
    margin: 4px 2px;
    background-color: #4285f4;
    font-family: 'Futura', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 50px;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

.page-description {
    font-size: 1.1rem;
    margin: 0 auto;
}

.tz-link {
    font-size: 1em;
    color: #1da7da;
    text-decoration: none;
}

.no-browser-support {
    display: none;
    font-size: 1.2rem;
    color: #e64427;
    margin-top: 35px;
}

.app {
    margin: 40px auto;
    width: 400px;
    float: left;
}

#recording-instructions {
    margin: 15px auto 60px;
}

#notes {
    padding-top: 20px;
}

.note .header {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 10px;
}

.note .delete-note,
.note .listen-note {
    text-decoration: none;
    margin-left: 15px;
}

.note .content {
    margin-bottom: 40px;
}

#avatar
{
    float: right;
}

.app{
    padding-top: 50px;
}

#response
{
    padding: 50px;
    clear: both;
    width: 80%;
    margin: 0 auto;
}

#responseButton
{
    display: none;
    margin: auto;
}

#responseSpan
{
    display: none;
    margin: auto;
}

#loginButton
{
    width: 40%;
    margin: auto;
}

#title{
    font-family: 'Futura', sans-serif;
    font-size: 40px;
}

#lista_comandi{
    margin-left: 10%;
}

#listaComandiScorrevole
{
    width: auto;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* width */
#listaComandiScorrevole::-webkit-scrollbar {
  width: 5px;
}
 
/* Handle */
#listaComandiScorrevole::-webkit-scrollbar-thumb {
  background: #336ac6; 
  border-radius: 10px;
}


.whiteColor
{
    color: white;
    margin-right: 5px;
}

.bold
{
    font-weight: 500;
}

#scelta_calendario{
    margin-right: 10%;
}

#selectCalendar
{
    font-weight: 500;
}

@media (max-width: 900px) 
{   
    .input-single
    {
        width: 80%;
        margin: 5% auto;
    }

    .container {
        padding: 50px 0px 0px 0px;
    }

    .app{
        margin: 0px auto;
        float: none;
        width: 100%;
    }

    #avatar{
        float: none;
    }

    #recording-instructions{
        margin: 15px auto 10px;
    }

    #scelta_calendario{
        margin-right: 0%;
    }

    #lista_comandi{
        display: none;
    }

    button
    {
        margin-bottom: 10px;
        padding: 0px 5px;
    }

    #header.hide .button.hidden
    {
        padding-top: 1em;
    }

    #header.hide .button.hidden:before, #header.preview .button.hidden:before
    {
        content: "\f08b";
        color: #FFF;
        font-size: 1.5em;
    }
}  

@media (min-width: 400px)
{
    #avatar
    {
        float: none;
        margin: 0 auto;
    }
}

.github-corner:hover .octo-arm
{
    animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave
{
    0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}
}

@media (max-width:500px){
    .github-corner:hover .octo-arm{
        animation:none
    }
    .github-corner .octo-arm{
        animation:octocat-wave 560ms ease-in-out
    }
}
